[submodule "deps/clibdpa"]
	path = deps/clibdpa
	url = https://github.com/iqrfsdk/clibdpa
[submodule "deps/clibcdc"]
	path = deps/clibcdc
	url = https://github.com/iqrfsdk/clibcdc
[submodule "deps/clibspi"]
	path = deps/clibspi
	url = https://github.com/iqrfsdk/clibspi
[submodule "deps/cutils"]
	path = deps/cutils
	url = https://github.com/iqrfsdk/cutils
