[submodule "vendor/clibdpa"]
	path = vendor/clibdpa
	url = https://github.com/iqrfsdk/clibdpa
[submodule "vendor/clibcdc"]
	path = vendor/clibcdc
	url = https://github.com/iqrfsdk/clibcdc
[submodule "vendor/clibspi"]
	path = vendor/clibspi
	url = https://github.com/iqrfsdk/clibspi
